<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Reset Password</title>
</head>
<body>
<main class="container">
    <h1>Reset Password</h1>
    <div>
        Please click the following link to reset your password.
    </div>

    <br/>
    <br/>

    <a href="{{ .Link }}" class="button">Reset password</a>
</main>
</body>
<style>
    .container {
        display: flex;
        margin-top: 50px;
        text-align: center;
        flex-direction: column;
        gap: 20px;
        align-content: center;
        justify-content: center;
    }

    button {
        max-width: 200px;
        min-width: 200px;
        margin: 0 auto;
    }
</style>
</html>